<div class="row">
    <div class="col-12 col-md-6">
        <article class="card">
            <div class="card-body">
                <app-graphic-chart [legend]="graficos.grafico1.leyenda" [chartData]="graficos.grafico1.data" [chartLabels]="graficos.grafico1.labels" [chartType]="graficos.grafico1.type"></app-graphic-chart>
            </div>
        </article>
    </div>
    <div class="col-12 col-md-6">
        <article class="card">
            <div class="card-body">
                <app-graphic-chart [legend]="graficos.grafico2.leyenda" [chartData]="graficos.grafico2.data" [chartLabels]="graficos.grafico2.labels" [chartType]="graficos.grafico2.type"></app-graphic-chart>
            </div>
        </article>
    </div>
    <div class="col-12 col-md-6">
        <article class="card">
            <div class="card-body">
                <app-graphic-chart [legend]="graficos.grafico3.leyenda" [chartData]="graficos.grafico3.data" [chartLabels]="graficos.grafico3.labels" [chartType]="graficos.grafico3.type"></app-graphic-chart>
            </div>
        </article>
    </div>
    <div class="col-12 col-md-6">
        <article class="card">
            <div class="card-body">
                <app-graphic-chart [legend]="graficos.grafico4.leyenda" [chartData]="graficos.grafico4.data" [chartLabels]="graficos.grafico4.labels" [chartType]="graficos.grafico4.type"></app-graphic-chart>
            </div>
        </article>
    </div>
</div>