<div class="row">
    <div class="col-4">
        <article class="card">
            <div class="card-body">
                <h2 class="card-title">Temas</h2>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a data-theme="default" class="selector default-theme" (click)="changeColor('default', linkTheme1)" #linkTheme1>1</a></li>
                        <li><a data-theme="green" class="selector green-theme" (click)="changeColor('green', linkTheme2)" #linkTheme2>2</a></li>
                        <li><a data-theme="red" class="selector red-theme" (click)="changeColor('red', linkTheme3)" #linkTheme3>3</a></li>
                        <li><a data-theme="blue" class="selector blue-theme" (click)="changeColor('blue', linkTheme4)" #linkTheme4>4</a></li>
                        <li><a data-theme="purple" class="selector purple-theme" (click)="changeColor('purple', linkTheme5)" #linkTheme5>5</a></li>
                        <li><a data-theme="megna" class="selector megna-theme" (click)="changeColor('megna', linkTheme6)" #linkTheme6>6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a data-theme="default-dark" class="selector default-dark-theme" (click)="changeColor('default-dark', linkTheme7)" #linkTheme7>7</a></li>
                        <li><a data-theme="green-dark" class="selector green-dark-theme" (click)="changeColor('green-dark', linkTheme8)" #linkTheme8>8</a></li>
                        <li><a data-theme="red-dark" class="selector red-dark-theme" (click)="changeColor('red-dark', linkTheme9)" #linkTheme9>9</a></li>
                        <li><a data-theme="blue-dark" class="selector blue-dark-theme" (click)="changeColor('blue-dark', linkTheme10)" #linkTheme10>10</a></li>
                        <li><a data-theme="purple-dark" class="selector purple-dark-theme" (click)="changeColor('purple-dark', linkTheme11)" #linkTheme11>11</a></li>
                        <li><a data-theme="megna-dark" class="selector megna-dark-theme" (click)="changeColor('megna-dark', linkTheme12)" #linkTheme12>12</a></li>
                    </ul>

                </div>
            </div>
        </article>
    </div>
</div>